<div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-md-12"><h1 class="page-header">Viewers</h1></div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Business Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="viewer in script.viewers" id="{{viewer.id}}" ng-click="tab='add-viewer'">
                        <td>{{viewer.name}}</td>
                        <td>{{viewer.business_name}}</td>
                        <td>{{viewer.email}}</td>
                        <td>{{viewer.address}}</td>
                        <td>{{viewer.city}}</td>
                        <td>{{viewer.state}}</td>
                        <td>{{viewer.zip}}</td>
                        <td>{{viewer.phone}}</td>
                        <td>{{viewer.fax}}</td>
                        <td><a href="../api/delete-viewer/{{viewer.id}}"> <span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>